body {background-color: black;}
h1 {margin-right:10%; position: fixed; z-index:1; top:0.5em; right: 2em}
.list {margin-right:14%; position: fixed; z-index:1; top:6em; right: 2em; background-color:transparent;}

@media screen and (max-width: 769px)
{
  h1 {right:0em !important;}
  .list {right:0em !important;}
  .is-ancestor{margin-top: 5em !important;}			
}

@media screen and (max-width: 412px)
{
  .list {margin-top: 1.5em;}
}